<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
<style>
         .test #test #result {
           width: 200px;
           height: 200px;
           margin: 0px auto;
         }
</style>
</head>

<body>
<canvas id="mycanvas" width="500px" height="500px"></canvas>
<div id="result" width="200px" height="200px" style="display: block" >

</div>
<div id="status"></div>
<script type="text/javascript" src="/static/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/main2.js"></script>

<script type="text/javascript" src="main2.js"></script>
</body>
</html>